
/* =Header
----------------------------------------------- */
.site-header{width:100%;border-bottom:1px solid #009BCD;margin:3.5% auto 0;}
.site-branding{text-align:center; color: #fff;text-shadow: 0 1.5px 1.5px #000;}
.site-logo{-webkit-transition:opacity 0.5s ease-out;-moz-transition:opacity 0.5s ease-out;transition:opacity 0.5s ease-out;margin:0 auto 2%;max-height:8.5em;width:auto;opacity:1;-webkit-user-drag:none;user-drag:none;}
.no-touch .site-logo:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";filter:alpha(opacity=75);opacity:0.75;}
.no-touch .site-logo:active{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";filter:alpha(opacity=85);opacity:0.85;}
.site-title{margin:0 0 0.25%;line-height:1;text-align:center;-ms-word-wrap:break-word;word-wrap:break-word;}
.site-title a{-webkit-transition:text-shadow 0.5s,color 0.5s;-moz-transition:text-shadow 0.5s,color 0.5s;transition:text-shadow 0.5s,color 0.5s;font-size:1.95em;text-decoration:none;color:#444444;border-bottom:none;}
.no-touch .site-title a:hover{color:#444444;text-shadow:0px 0px 6px rgba(75,75,75,0.5);}
.no-touch .site-title a:active{color:#444444;text-shadow:0px -2px 12px rgba(75,75,75,0.85);}
.page-header{text-align:center;margin:0 auto 7.5%;}
.page-title{text-align:center;font-size:1.65em;padding:1.5%;border-bottom:1px solid #009BCD;display:inline-block;}
.site-description{text-align:center;margin-bottom:0.75%;}
.sociallinks{display:block;margin:2.5% auto 0;margin:1% 0;}
.sociallinks ul{list-style:none;text-align:center;margin:0 auto;}
.sociallink svg,.sociallink img{height:0.25em;width:0.25em;margin:0 0.25%;}
.sociallink.desktop{display:none;}
.sociallink{-webkit-transition:opacity 0.4s ease-out;-moz-transition:opacity 0.4s ease-out;transition:opacity 0.4s ease-out;border:none;}
.no-touch .sociallink:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60);opacity:0.6;}
.no-touch .sociallink:active{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);opacity:0.8;}
/* =Menu
----------------------------------------------- */
.main-navigation{clear:both;width:100%;text-align:center;margin:2.5% auto 1.5%;text-shadow: 0 1px 1px #000;}
.main-navigation ul{list-style:none;margin:0 auto;padding-left:0;border-top:1px solid #ddd;background:-moz-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.65)),color-stop(100%,rgba(0,0,0,0)));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);/* IE10+ */
background:linear-gradient(to bottom,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000',endColorstr='#00000000',GradientType=0 );/* IE6-9 */
}
.menu-main a{color: #FFF;}
.main-navigation li{display:inline-block;margin:0 0.5em;position:relative;}
.main-navigation li:first-child{margin-left:0;}
.main-navigation li:last-child{margin-right:0;}
.main-navigation a{-webkit-transition:color 0.25s ease-out;-moz-transition:color 0.25s ease-out;transition:color 0.25s ease-out;display:block;text-decoration:none;color:#444;}
.no-touch .main-navigation a:hover{color:#009BCD;}
.no-touch .main-navigation a:active{color:#007EA6}
.main-navigation ul ul{box-shadow:0 5px 10px rgba(0,0,0,0.15);display:none;float:left;position:absolute;top:1.25em;left:0;z-index:2;background:#E3E5E7;}
.main-navigation ul ul ul{left:100%;top:0;}
.main-navigation ul ul a{width:12em;}
.main-navigation ul ul li{}
.main-navigation li:hover > a{}
.main-navigation ul ul :hover > a{}
.main-navigation ul ul a:hover{}
.main-navigation ul li:hover > ul{display:block;}
.main-navigation ul ul:hover{display:block;}
.main-navigation li.current_page_item > a,
.main-navigation li.current-menu-item > a{color:#fff;}
.menu li.current_page_item > a,
.main-navigation li.current-menu-item > a{position:relative; color:#fff;}
.menu li.current_page_item > a:hover,
.main-navigation li.current-menu-item > a:hover{-webkit-animation:shake 0.25s ease 0.25s;-moz-animation:shake 0.25s ease 0.25s;animation:shake 0.25s ease 0.25s;color:#fff;}
@-webkit-keyframes shake{0%,54%,90%{right:-7px;}
18%,72%{right:7px;}
100%{right:0px;}
}
@-moz-keyframes shake{0%,54%,90%{right:-7px;}
18%,72%{right:7px;}
100%{right:0px;}
}
@keyframes shake{0%,54%,90%{right:-7px;}
18%,72%{right:7px;}
100%{right:0px;}
}
/* =Content
----------------------------------------------- */
.site-main,.site-footer{width:92.5%;margin:0 auto; padding-left: 5px; background-color:rgba(0,0,0,0.9)}
.site-footer{margin-bottom:3.5%;}
.sticky{}
.hentry{margin:0 0 1.5em;}
.byline{display:none;}
.single .byline,
.group-blog .byline{display:inline;}
.page-content,
.entry-content,
.entry-summary{color: #fff;margin:0 0 2.5%;-ms-word-wrap:break-word;word-wrap:break-word;}
.page-links{clear:both;margin:0 0 1.5em;}
.entry-header{margin:5% auto 3.5%;text-align:center;}
article.page .entry-header{font-size:1.25em;margin:2.5% auto 5%;}
body.single-attachment .entry-header{padding-top:5%;margin-top:0;}
a .attachment-post-thumbnail{-webkit-transition:opacity 0.25s ease-out;-moz-transition:opacity 0.25s ease-out;transition:opacity 0.25s ease-out;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1;}
.no-touch a .attachment-post-thumbnail:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);opacity:0.8;}
.no-touch a .attachment-post-thumbnail:active{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter:alpha(opacity=90);opacity:0.9;}
.entry-title{color:#444444;text-decoration:none;text-align:center;-ms-word-wrap:break-word;word-wrap:break-word;font-size:1.5em;line-height:1.25;width:90%;margin:0 auto;}
.entry-title a{color:#444444;}
article.post{width:100%;margin:5% auto 10%;line-height:1.65;}
.entry-content h1{font-size:2em;}
.entry-content h2{font-size:1.75em;}
.entry-content h3{font-size:1.5em;}
.entry-content h4{font-size:1.375em;}
.entry-content h5{font-size:1.25em;}
.entry-content h6{font-size:1.125em;}
.entry-content img{margin:2.5% auto;}
.entry-content .video-player img{margin:0;}
body.single-attachment .entry-content .attachment{text-align:center;}
body.single-attachment .entry-meta{margin-top:1.5%;}
.post blockquote,.page blockquote{margin:1.5% 0;padding:0 0 0 5%;border-left:1px solid #009BCD;font-style:italic;}
.entry-meta{clear:both;}
.post .entry-meta{width:90%;padding-bottom:0.5%;border-bottom:1px solid #009BCD;margin:0 auto;}
.post .entry-meta.above-content{width:auto;display:inline-block;padding:0 2.5% 1%;margin:0 auto 1.5%;}
.entry-meta .date,.tags,.categories{font-size:0.8em;clear:both;margin:1.5% 0;color:#808080;}
.entry-meta .date{margin-bottom:0;}
.entry-meta .date a{-webkit-transition:color 0.25s ease-out;-moz-transition:color 0.25s ease-out;transition:color 0.25s ease-out;color:#808080;}
.no-touch .entry-meta .date a:hover{color:#009BCD;}
.no-touch .entry-meta .date a:active{color:#007EA6;}
.no-touch .post .entry-meta .date a:hover,.post .entry-meta .date a:active{margin-top:3.5%;border-bottom:none;}
.theme-info,.site-colophon{font-size:0.8em;text-align:center;}
.no-touch .theme-info a:hover,.no-touch .site-colophon a:hover{border-bottom:1px solid #009BCD;}
.no-touch .theme-info a:active,.no-touch .site-colophon a:active{border-bottom:1px solid #007EA6;}

/* =Links
----------------------------------------------- */
.format-link .entry-title a{text-decoration:underline;color:#444444;}
.no-touch .format-link .entry-title a:hover{color:#009BCD;border-bottom:none;}
.no-touch .format-link .entry-title a:active{color:#007EA6;border-bottom:none;}
.link-title-arrow{padding:0 0.25em;}

/* =Tablets
----------------------------------------------- */
@media only screen and (min-width:35em){.site-header,.site-main,.site-footer,.sidebar-style-constant .site-header,.sidebar-style-constant .site-main,.sidebar-style-constant .site-footer{width:82.5%;}
.SidebarLink{position:fixed;height:1.75em;width:1.75em;top:2.5%;}
.admin-bar .SidebarLink{top:7.5%;}
.SidebarLink svg{width:1.75em;height:1.75em;}
.SidebarLink img{width:2em;height:1.75em;}
.SidebarLink.left{left:2.5%;}
.SidebarLink.right{right:2.5%;}
.sidebar{width:55%;}
}
/* =Desktop
----------------------------------------------- */
@media only screen and (min-width:50em){.site-header,.site-main,.site-footer{width:80%;}
.site.sidebar-style-constant{margin:0 auto;width:67%;height:100%;position:fixed;overflow-y:scroll;-webkit-overflow-scrolling:touch;}
.site.sidebar-style-left{right:0;}
.site.sidebar-style-right{left:0;}
.site-scroll{margin:3.5% 2.5% 0;}
.site-scroll .site-header{margin-top:0;}
.sidebar-style-constant .site-header,.sidebar-style-constant .site-main,.sidebar-style-constant .site-footer{width:100%;max-width:45em;}
.page-header{margin:0 auto 5%;}
.site-title a{font-size:2.8em;}
.no-touch .site-description a:hover{border-bottom:1px solid #009BCD;}
.no-touch .site-description a:active{color:#007EA6;border-bottom:1px solid #007EA6;}
.author .author-section{width:75%;max-width:100%;font-size:1.25em;margin-top:3.5%;}
.sociallinks{margin:1.5% auto;}
.sociallink.mobile{display:none;}
.sociallink.desktop{display:inline;}
.sociallink svg,.sociallink img{height:2.5em;width:2.5em;margin:0 1%;}
.main-navigation li{margin:0 1.5%;}
.SidebarLink{top:5%;}
.sidebar-style-constant .SidebarLink{display:none;}
.sidebar.constant .SidebarTop{display:none;}
.sidebar{width:33%;}
.sidebar.constant .SidebarContent{margin-top:5%;}
.sidebar.constant{-webkit-transform:translateX(0%);-moz-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%);box-shadow:none;}
.sidebar.constant.left{border-right:1px solid #009BCD;}
.sidebar.constant.right{border-left:1px solid #009BCD;}
.no-csstransforms .sidebar.left{left:-40%;}
.no-csstransforms .sidebar.right{right:-40%;}
.SidebarClose{padding:2.5%;}
.entry-title{font-size:2em;width:80%;}
article.post{margin:2.5% auto 5%;}
.entry-content h1{font-size:2.5em;}
.entry-content h2{font-size:2.125em;}
.entry-content h3{font-size:1.75em;}
.entry-content h4{font-size:1.375em;}
.entry-content h5{font-size:1.25em;}
.entry-content h6{font-size:1.125em;}
.post .entry-meta,.search footer{width:85%;}
.search .post,.search .page{margin-bottom:5%;}
.explore-page .widget.search{margin-bottom:3.5%;}
.blog .format-quote .entry-content,.single .format-quote .entry-content,.archive .format-quote .entry-content{font-size:2.75em;}
.sidebar-style-constant .site-footer{margin-bottom:5%;}
}
/* =Larger screens
----------------------------------------------- */
@media only screen and (min-width:68.5em){.site-title a{font-size:3.5em;}
.sociallink svg,.sociallink img{height:2.75em;width:2.75em;margin:0 1%;}
.site-header,.site-main,.site-footer{width:60%;max-width:45em;}
.site-header{max-width:60em;}
.site.sidebar-style-constant{width:75%;}
.page-header{margin-bottom:3.5%;}
.entry-title{font-size:2.25em;}
.SidebarLink.left{left:7.5%;}
.SidebarLink.right{right:7.5%;}
.sidebar{width:25%;max-width:30em;}
.no-csstransforms .sidebar.left{left:-30%;}
.no-csstransforms .sidebar.right{right:-30%;}
article.post{margin-bottom:10%;}
}
@media only print{.SidebarLink,.sociallinks,.main-navigation,.paging-navigation,.post-navigation,.comment-respond{display:none;}
.site-header{padding-bottom:2.5%;margin-top:0;}
}
