@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f0fbf7;
}
.navbar {
	background-color: #fbb700;
}
.carousel {
	height: 70%;
}
.thecomic {
	width: 70%;
}

.left img{
	padding-top: 300px;
	margin-left: -25%;
}
.right img{
	padding-top: 300px;
}


.header {
	width: 100%;
	text-align: center;
}
.footer {
	padding-top: 20px;
	width: 100%;
	text-align: center;
}
